{{>head}}
<body>
    {{>header}}
    <h3>Ваши покупки</h3>
    {{#if products}}
    {{#each products}}
    <ul>
        <li>Название: {{this.name}}</li>
        <li>Описание: {{this.description}}</li>
        <li>Количество: {{this.buyers.0.quantity}}</li>
        <li>Цена: {{this.buyers.0.price}}</li>
        <li><a href="#">Купить</a></li>
        <li><a href="/cart/add/{{this._id}}">Добавить</a></li>
        <li><a href="/cart/delete/{{this._id}}">Убрать</a></li>
    </ul>
    {{/each}}
    <li><a href="/cart/delete/all/products">Удалить все</a></li>
    {{else}}
    <h3>Ваша корзина пуста</h3>
    {{/if}}
    {{>footer}}
</body>
</html>